openapi: 3.1.0
info:
  title: Story Protocol API Reference Collections Transactions API
  version: v1
  contact: {}
servers:
- url: https://api.storyapis.com
  description: Production server
tags:
- name: Transactions
paths:
  /api/v3/transactions:
    post:
      description: Retrieve a paginated, filtered list of Transactions
      parameters:
      - description: API Key
        in: header
        name: X-Api-Key
        required: true
        type: string
      - description: Chain Destination
        in: header
        name: X-Chain
        required: true
        type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.TransactionRequestBody'
        description: Query Parameters must be wrapped in options object (though it can be left empty) ❗️ 👀. OrderBy must be blockNumber, resourceType or empty.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.TransactionsResponse'
          description: OK
      security:
      - ApiKeyAuth: []
      summary: List Transactions
      tags:
      - Transactions
  /api/v3/transactions/latest:
    post:
      description: Retrieve a paginated, filtered list of Latest Transactions
      parameters:
      - description: API Key
        in: header
        name: X-Api-Key
        required: true
        type: string
      - description: Chain Destination
        in: header
        name: X-Chain
        required: true
        type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.TransactionRequestBody'
        description: Query Parameters must be wrapped in options object (though it can be left empty) ❗️ 👀. OrderBy must be blockNumber, resourceType or empty.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.TransactionsResponse'
          description: OK
      security:
      - ApiKeyAuth: []
      summary: List Latest Transactions
      tags:
      - Transactions
  /api/v3/transactions/{trxId}:
    get:
      description: Retrieve a Transaction
      parameters:
      - description: Transaction ID
        in: path
        name: trxId
        required: true
        type: string
      - description: API Key
        in: header
        name: X-Api-Key
        required: true
        type: string
      - description: Chain Destination
        in: header
        name: X-Chain
        required: true
        type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.TransactionResponse'
          description: OK
      security:
      - ApiKeyAuth: []
      summary: Get a Transaction
      tags:
      - Transactions
components:
  schemas:
    github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.TransactionsResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.Transaction'
          type: array
        hasNextPage:
          type: boolean
        hasPreviousPage:
          type: boolean
        next:
          type: string
        prev:
          type: string
      type: object
    github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.TransactionResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.Transaction'
          type: array
      type: object
    github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.Transaction:
      properties:
        actionType:
          type: string
        blockNumber:
          type: string
        blockTimestamp:
          type: string
        createdAt:
          type: string
        id:
          type: string
        initiator:
          type: string
        ipId:
          type: string
        logIndex:
          type: string
        resourceId:
          type: string
        resourceType:
          type: string
        transactionIndex:
          type: string
        txHash:
          type: string
      type: object
    github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.TransactionRequestBody:
      properties:
        options:
          $ref: '#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.TrxQueryOptions'
      type: object
    github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.TrxQueryOptions:
      properties:
        orderBy:
          enum:
          - id
          - blockNumber
          - ipId
          - resourceType
          type: string
        orderDirection:
          enum:
          - asc
          - desc
          type: string
        pagination:
          properties:
            after:
              type: string
            before:
              type: string
            limit:
              type: integer
          type: object
        where:
          properties:
            blockNumber:
              type: string
            id:
              type: string
            ipId:
              type: string
            resourceType:
              type: string
            transactionHash:
              type: string
          type: object
      type: object
  securitySchemes:
    ApiKeyAuth:
      in: header
      name: X-Api-Key
      type: apiKey
