openapi: 3.1.0
info:
  title: Story Protocol API Reference Collections IPGroup API
  version: v1
  contact: {}
servers:
- url: https://api.storyapis.com
  description: Production server
tags:
- name: IPGroup
paths:
  /api/v3/ip-group-edges:
    post:
      description: Retrieve an IPGroup edges
      parameters:
      - description: API Key
        in: header
        name: X-Api-Key
        required: true
        type: string
      - description: Chain Destination
        in: header
        name: X-Chain
        required: true
        type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.IPGroupEdgesRequestBody'
        description: Query Parameters must be wrapped in options object (though it can be left empty) ❗️ 👀. OrderBy must be blockNumber, groupId or empty.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.IPGroupEdgesResponse'
          description: OK
      security:
      - ApiKeyAuth: []
      summary: List a IPGroup's edges
      tags:
      - IPGroup
  /api/v3/ip-groups:
    post:
      description: Retrieve an IPGroup
      parameters:
      - description: API Key
        in: header
        name: X-Api-Key
        required: true
        type: string
      - description: Chain Destination
        in: header
        name: X-Chain
        required: true
        type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.IPGroupsRequestBody'
        description: Query Parameters must be wrapped in options object (though it can be left empty) ❗️ 👀. OrderBy must be groupId or empty.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.IPGroupsResponse'
          description: OK
      security:
      - ApiKeyAuth: []
      summary: List IP groups
      tags:
      - IPGroup
components:
  schemas:
    github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.IPGroupsResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.IPGroup'
          type: array
        next:
          type: string
        prev:
          type: string
      type: object
    github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.IPGroupEdgesQueryOptions:
      properties:
        ipIds:
          items:
            type: string
          type: array
        orderBy:
          type: string
        orderDirection:
          type: string
        pagination:
          properties:
            after:
              type: string
            before:
              type: string
            limit:
              type: integer
          type: object
        tokenContractIds:
          items:
            type: string
          type: array
        tokenIds:
          items:
            type: string
          type: array
        where:
          properties:
            blockNumber:
              type: string
            groupId:
              type: string
          type: object
      type: object
    github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.IPGroupEdge:
      properties:
        block_number:
          type: string
        block_time:
          type: string
        group_id:
          type: string
        ip_id:
          type: string
        transaction_hash:
          type: string
      type: object
    github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.IPGroupsRequestBody:
      properties:
        options:
          $ref: '#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.IPGroupsQueryOptions'
      type: object
    github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.IPGroupEdgesRequestBody:
      properties:
        options:
          $ref: '#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.IPGroupEdgesQueryOptions'
      type: object
    github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.IPGroup:
      properties:
        group_id:
          type: string
        ip_count:
          type: integer
      type: object
    github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.IPGroupEdgesResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.IPGroupEdge'
          type: array
        hasNextPage:
          type: boolean
        hasPreviousPage:
          type: boolean
        next:
          type: string
        prev:
          type: string
      type: object
    github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.IPGroupsQueryOptions:
      properties:
        ipAssetIds:
          items:
            type: string
          type: array
        orderBy:
          type: string
        orderDirection:
          type: string
        pagination:
          properties:
            after:
              type: string
            before:
              type: string
            limit:
              type: integer
          type: object
        tokenContractIds:
          items:
            type: string
          type: array
        tokenIds:
          items:
            type: string
          type: array
        where:
          properties:
            groupId:
              type: string
          type: object
      type: object
  securitySchemes:
    ApiKeyAuth:
      in: header
      name: X-Api-Key
      type: apiKey
