openapi: 3.1.0
info:
  title: Story Protocol API Reference Collections Licenses API
  version: v1
  contact: {}
servers:
- url: https://api.storyapis.com
  description: Production server
tags:
- name: Licenses
paths:
  /api/v3/licenses/mintingfees:
    post:
      description: Retrieve a paginated, filtered list of LicenseMintingFeePaids
      parameters:
      - description: API Key
        in: header
        name: X-Api-Key
        required: true
        type: string
      - description: Chain Destination
        in: header
        name: X-Chain
        required: true
        type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.LicenseMintingFeePaidRequestBody'
        description: Query Parameters must be wrapped in options object (though it can be left empty) ❗️ 👀. OrderBy must be blockNumber or empty.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicenseMintingFeePaidsResponse'
          description: OK
      security:
      - ApiKeyAuth: []
      summary: List LicenseMintingFeePays
      tags:
      - Licenses
  /api/v3/licenses/mintingfees/{licenseMintingFeePaidId}:
    get:
      description: Retrieve a LicenseMintingFeePay
      parameters:
      - description: API Key
        in: header
        name: X-Api-Key
        required: true
        type: string
      - description: Chain Destination
        in: header
        name: X-Chain
        required: true
        type: string
      - description: LicenseMintingFeePay ID
        in: path
        name: licenseMintingFeePaidId
        required: true
        type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicenseMintingFeePaidResponse'
          description: OK
      security:
      - ApiKeyAuth: []
      summary: Get a LicenseMintingFeePay
      tags:
      - Licenses
  /api/v4/licenses/mintingfees:
    post:
      description: Retrieve a paginated, filtered list of LicenseMintingFeePaids
      parameters:
      - description: API Key
        in: header
        name: X-Api-Key
        required: true
        type: string
      - description: Chain Destination
        in: header
        name: X-Chain
        required: true
        type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.LicenseMintingFeePaidRequestBody'
        description: Query Parameters must be wrapped in options object (though it can be left empty) ❗️ 👀. OrderBy must be blockNumber or empty.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicenseMintingFeePaidsResponse'
          description: OK
      security:
      - ApiKeyAuth: []
      summary: List LicenseMintingFeePays
      tags:
      - Licenses
  /api/v4/licenses/mintingfees/{licenseMintingFeePaidId}:
    get:
      description: Retrieve a LicenseMintingFeePay
      parameters:
      - description: API Key
        in: header
        name: X-Api-Key
        required: true
        type: string
      - description: Chain Destination
        in: header
        name: X-Chain
        required: true
        type: string
      - description: LicenseMintingFeePay ID
        in: path
        name: licenseMintingFeePaidId
        required: true
        type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicenseMintingFeePaidResponse'
          description: OK
      security:
      - ApiKeyAuth: []
      summary: Get a LicenseMintingFeePay
      tags:
      - Licenses
components:
  schemas:
    github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicenseMintingFeePaidResponse:
      properties:
        data:
          $ref: '#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicenseMintingFeePaid'
      type: object
    github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.LicenseMintingFeePaidQueryOptions:
      properties:
        orderBy:
          type: string
        orderDirection:
          type: string
        pagination:
          properties:
            after:
              type: string
            before:
              type: string
            limit:
              type: integer
          type: object
        where:
          properties:
            blockNumber:
              type: string
            id:
              type: string
            receiverIpId:
              type: string
          type: object
      type: object
    github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.LicenseMintingFeePaidRequestBody:
      properties:
        options:
          $ref: '#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.LicenseMintingFeePaidQueryOptions'
      type: object
    github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicenseMintingFeePaid:
      properties:
        amount:
          type: string
        blockNumber:
          type: string
        blockTimestamp:
          type: string
        id:
          type: string
        payer:
          type: string
        receiverIpId:
          type: string
        token:
          type: string
      type: object
    github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicenseMintingFeePaidsResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicenseMintingFeePaid'
          type: array
        next:
          type: string
        prev:
          type: string
      type: object
  securitySchemes:
    ApiKeyAuth:
      in: header
      name: X-Api-Key
      type: apiKey
