openapi: 3.1.0
info:
  title: Story Protocol API Reference Collections LicenseTokens API
  version: v1
  contact: {}
servers:
- url: https://api.storyapis.com
  description: Production server
tags:
- name: LicenseTokens
paths:
  /api/v3/licenses/tokens:
    post:
      description: Retrieve a paginated, filtered list of LicenseTokens
      parameters:
      - description: API Key
        in: header
        name: X-Api-Key
        required: true
        type: string
      - description: Chain Destination
        in: header
        name: X-Chain
        required: true
        type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.LicenseTokenRequestBody'
        description: Query Parameters must be wrapped in options object (though it can be left empty) ❗️ 👀. OrderBy must be blockNumber or empty.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicenseTokensResponse'
          description: OK
      security:
      - ApiKeyAuth: []
      summary: List LicenseTokens
      tags:
      - LicenseTokens
  /api/v3/licenses/tokens/{licenseTokenId}:
    get:
      description: Retrieve a LicenseToken
      parameters:
      - description: API Key
        in: header
        name: X-Api-Key
        required: true
        type: string
      - description: Chain Destination
        in: header
        name: X-Chain
        required: true
        type: string
      - description: License Token ID
        in: path
        name: licenseTokenId
        required: true
        type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicenseTokenResponse'
          description: OK
      security:
      - ApiKeyAuth: []
      summary: Get an LicenseToken
      tags:
      - LicenseTokens
components:
  schemas:
    github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.LicenseTokenQueryOptions:
      properties:
        orderBy:
          type: string
        orderDirection:
          type: string
        pagination:
          properties:
            after:
              type: string
            before:
              type: string
            limit:
              type: integer
          type: object
        where:
          properties:
            blockNumber:
              type: string
            id:
              type: string
            licenseTermsId:
              type: string
            licensorIpId:
              type: string
          type: object
      type: object
    github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicenseTokenResponse:
      properties:
        data:
          $ref: '#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicenseToken'
      type: object
    github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicenseToken:
      properties:
        blockNumber:
          type: string
        blockTime:
          type: string
        burntAt:
          type: string
        id:
          type: string
        licenseTemplate:
          type: string
        licenseTermsId:
          type: string
        licensorIpId:
          type: string
        owner:
          type: string
        transferable:
          type: string
      type: object
    github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.LicenseTokenRequestBody:
      properties:
        options:
          $ref: '#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.LicenseTokenQueryOptions'
      type: object
    github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicenseTokensResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicenseToken'
          type: array
        next:
          type: string
        prev:
          type: string
      type: object
  securitySchemes:
    ApiKeyAuth:
      in: header
      name: X-Api-Key
      type: apiKey
