openapi: 3.1.0
info:
  title: Story Protocol API Reference Collections LicenseTerms API
  version: v1
  contact: {}
servers:
- url: https://api.storyapis.com
  description: Production server
tags:
- name: LicenseTerms
paths:
  /api/v3/licenses/terms:
    post:
      description: Retrieve a paginated, filtered list of LicenseTerms
      parameters:
      - description: API Key
        in: header
        name: X-Api-Key
        required: true
        type: string
      - description: Chain Destination
        in: header
        name: X-Chain
        required: true
        type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.LicenseTermsRequestBody'
        description: Query Parameters must be wrapped in options object (though it can be left empty) ❗️ 👀. OrderBy must be blockNumber or empty.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicenseTermsResponse'
          description: OK
      security:
      - ApiKeyAuth: []
      summary: List LicenseTerms
      tags:
      - LicenseTerms
  /api/v3/licenses/terms/{licenseTermId}:
    get:
      description: Retrieve a LicenseTerm
      parameters:
      - description: API Key
        in: header
        name: X-Api-Key
        required: true
        type: string
      - description: Chain Destination
        in: header
        name: X-Chain
        required: true
        type: string
      - description: LicenseTerm ID
        in: path
        name: licenseTermId
        required: true
        type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicenseTermResponse'
          description: OK
      security:
      - ApiKeyAuth: []
      summary: Get a LicenseTerm
      tags:
      - LicenseTerms
components:
  schemas:
    github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.LicenseTermsRequestBody:
      properties:
        options:
          $ref: '#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.LicenseTermsQueryOptions'
      type: object
    github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicenseTermsResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicenseTerm'
          type: array
        next:
          type: string
        prev:
          type: string
      type: object
    github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicenseTermResponse:
      properties:
        data:
          $ref: '#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicenseTerm'
      type: object
    github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.Term:
      properties:
        commercialAttribution:
          type: boolean
        commercialRevCeiling:
          $ref: '#/components/schemas/big.Int'
        commercialRevShare:
          $ref: '#/components/schemas/big.Int'
        commercialUse:
          type: boolean
        commercializerChecker:
          type: string
        commercializerCheckerData:
          type: string
        currency:
          type: string
        defaultMintingFee:
          type: integer
        derivativeRevCeiling:
          $ref: '#/components/schemas/big.Int'
        derivativesAllowed:
          type: boolean
        derivativesApproval:
          type: boolean
        derivativesAttribution:
          type: boolean
        derivativesReciprocal:
          type: boolean
        expiration:
          $ref: '#/components/schemas/big.Int'
        royaltyPolicy:
          type: string
        transferable:
          type: boolean
        uri:
          type: string
      type: object
    github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicenseTerm:
      properties:
        blockNumber:
          type: string
        blockTime:
          type: string
        id:
          type: string
        licenseTemplate:
          type: string
        licenseTerms:
          items:
            additionalProperties: {}
            type: object
          type: array
        terms:
          $ref: '#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.Term'
      type: object
    big.Int:
      type: object
    github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.LicenseTermsQueryOptions:
      properties:
        orderBy:
          type: string
        orderDirection:
          type: string
        pagination:
          properties:
            after:
              type: string
            before:
              type: string
            limit:
              type: integer
          type: object
        where:
          properties:
            blockNumber:
              type: string
            id:
              type: string
          type: object
      type: object
  securitySchemes:
    ApiKeyAuth:
      in: header
      name: X-Api-Key
      type: apiKey
