openapi: 3.1.0
info:
  title: Story Protocol API Reference Collections API
  version: v1
  contact: {}
servers:
- url: https://api.storyapis.com
  description: Production server
tags:
- name: Collections
paths:
  /api/v3/collections:
    post:
      description: Retrieve a paginated, filtered list of Collections
      parameters:
      - description: API Key
        in: header
        name: X-Api-Key
        required: true
        type: string
      - description: Chain Destination
        in: header
        name: X-Chain
        required: true
        type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.CollectionsRequestBody'
        description: Query Parameters must be wrapped in options object (though it can be left empty) ❗️ 👀. OrderBy must be blockNumber, assetCount, licensesCount or empty.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.CollectionsResponse'
          description: OK
      security:
      - ApiKeyAuth: []
      summary: List Collections
      tags:
      - Collections
  /api/v3/collections/{collectionId}:
    get:
      description: Retrieve a Collection
      parameters:
      - description: API Key
        in: header
        name: X-Api-Key
        required: true
        type: string
      - description: Chain Destination
        in: header
        name: X-Chain
        required: true
        type: string
      - description: Collection ID
        in: path
        name: collectionId
        required: true
        type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.CollectionResponse'
          description: OK
      security:
      - ApiKeyAuth: []
      summary: Get an Collection
      tags:
      - Collections
components:
  schemas:
    github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.CollectionQueryOptions:
      properties:
        orderBy:
          type: string
        orderDirection:
          type: string
        pagination:
          properties:
            after:
              type: string
            before:
              type: string
            limit:
              type: integer
          type: object
        where:
          properties:
            blockNumberLte:
              type: string
          type: object
      type: object
    github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.CollectionResponse:
      properties:
        data:
          $ref: '#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.Collection'
      type: object
    github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.CollectionsRequestBody:
      properties:
        options:
          $ref: '#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.CollectionQueryOptions'
      type: object
    github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.Collection:
      properties:
        assetCount:
          type: string
        blockNumber:
          type: string
        blockTimestamp:
          type: string
        cancelledDisputeCount:
          type: string
        id:
          type: string
        judgedDisputeCount:
          type: string
        licensesCount:
          type: string
        raisedDisputeCount:
          type: string
        resolvedDisputeCount:
          type: string
      type: object
    github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.CollectionsResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.Collection'
          type: array
        hasNextPage:
          type: boolean
        hasPreviousPage:
          type: boolean
        next:
          type: string
        prev:
          type: string
      type: object
  securitySchemes:
    ApiKeyAuth:
      in: header
      name: X-Api-Key
      type: apiKey
