openapi: 3.1.0
info:
  title: Story Protocol API Reference Collections LicenseTemplates API
  version: v1
  contact: {}
servers:
- url: https://api.storyapis.com
  description: Production server
tags:
- name: LicenseTemplates
paths:
  /api/v3/licenses/templates:
    post:
      description: Retrieve a paginated, filtered list of LicenseTemplates
      parameters:
      - description: API Key
        in: header
        name: X-Api-Key
        required: true
        type: string
      - description: Chain Destination
        in: header
        name: X-Chain
        required: true
        type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.LicenseTemplatesRequestBody'
        description: Query Parameters must be wrapped in options object (though it can be left empty) ❗️ 👀. OrderBy must be blockNumber or empty.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicenseTemplatesResponse'
          description: OK
      security:
      - ApiKeyAuth: []
      summary: List LicenseTemplates
      tags:
      - LicenseTemplates
  /api/v3/licenses/templates/{licenseTemplateId}:
    get:
      description: Retrieve a LicenseTemplate
      parameters:
      - description: API Key
        in: header
        name: X-Api-Key
        required: true
        type: string
      - description: Chain Destination
        in: header
        name: X-Chain
        required: true
        type: string
      - description: LicenseTemplate ID
        in: path
        name: licenseTemplateId
        required: true
        type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicenseTemplateResponse'
          description: OK
      security:
      - ApiKeyAuth: []
      summary: Get a LicenseTemplate
      tags:
      - LicenseTemplates
components:
  schemas:
    github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicenseTemplatesResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicenseTemplate'
          type: array
        next:
          type: string
        prev:
          type: string
      type: object
    github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.LicenseTemplatesRequestBody:
      properties:
        options:
          $ref: '#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.LicenseTemplatesQueryOptions'
      type: object
    github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicenseTemplateResponse:
      properties:
        data:
          $ref: '#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicenseTemplate'
      type: object
    github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicenseTemplate:
      properties:
        blockNumber:
          type: string
        blockTime:
          type: string
        id:
          type: string
        metadataUri:
          type: string
        name:
          type: string
      type: object
    github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.LicenseTemplatesQueryOptions:
      properties:
        orderBy:
          type: string
        orderDirection:
          type: string
        pagination:
          properties:
            after:
              type: string
            before:
              type: string
            limit:
              type: integer
          type: object
        where:
          properties:
            blockNumber:
              type: string
            id:
              type: string
          type: object
      type: object
  securitySchemes:
    ApiKeyAuth:
      in: header
      name: X-Api-Key
      type: apiKey
