openapi: 3.1.0
info:
  title: Story Protocol API Reference Collections Royalties API
  version: v1
  contact: {}
servers:
- url: https://api.storyapis.com
  description: Production server
tags:
- name: Royalties
paths:
  /api/v3/royalties/payments:
    post:
      description: Retrieve a paginated, filtered list of RoyaltyPays
      parameters:
      - description: API Key
        in: header
        name: X-Api-Key
        required: true
        type: string
      - description: Chain Destination
        in: header
        name: X-Chain
        required: true
        type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.RoyaltyPayRequestBody'
        description: Query Parameters must be wrapped in options object (though it can be left empty) ❗️ 👀. OrderBy must be blockNumber or empty.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.RoyaltyPaysResponse'
          description: OK
      security:
      - ApiKeyAuth: []
      summary: List RoyaltyPays
      tags:
      - Royalties
  /api/v3/royalties/payments/{royaltyPayId}:
    get:
      description: Retrieve a RoyaltyPay
      parameters:
      - description: API Key
        in: header
        name: X-Api-Key
        required: true
        type: string
      - description: Chain Destination
        in: header
        name: X-Chain
        required: true
        type: string
      - description: RoyaltyPay ID
        in: path
        name: royaltyPayId
        required: true
        type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.RoyaltyPayResponse'
          description: OK
      security:
      - ApiKeyAuth: []
      summary: Get a RoyaltyPay
      tags:
      - Royalties
components:
  schemas:
    github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.RoyaltyPayRequestBody:
      properties:
        options:
          $ref: '#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.RoyaltyPayQueryOptions'
      type: object
    github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.RoyaltyPaysResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.RoyaltyPay'
          type: array
        next:
          type: string
        prev:
          type: string
      type: object
    github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.RoyaltyPay:
      properties:
        amount:
          type: string
        blockNumber:
          type: string
        blockTimestamp:
          type: string
        id:
          type: string
        payerIpId:
          type: string
        receiverIpId:
          type: string
        sender:
          type: string
        token:
          type: string
      type: object
    github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.RoyaltyPayResponse:
      properties:
        data:
          $ref: '#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.RoyaltyPay'
      type: object
    github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.RoyaltyPayQueryOptions:
      properties:
        orderBy:
          type: string
        orderDirection:
          type: string
        pagination:
          properties:
            after:
              type: string
            before:
              type: string
            limit:
              type: integer
          type: object
        where:
          properties:
            blockNumber:
              type: string
            id:
              type: string
            payerIpId:
              type: string
            receiverIpId:
              type: string
          type: object
      type: object
  securitySchemes:
    ApiKeyAuth:
      in: header
      name: X-Api-Key
      type: apiKey
