{"openapi":"3.1.0","info":{"title":"Story Protocol API Reference","version":"v1","contact":{}},"servers":[{"url":"https://api.storyapis.com","description":"Production server"}],"paths":{"/api/v3/assets":{"post":{"description":"Retrieve a paginated, filtered list of IPAssets","parameters":[{"description":"API Key","in":"header","name":"X-Api-Key","required":true,"type":"string"},{"description":"Chain Destination","in":"header","name":"X-Chain","required":true,"type":"string"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.IpAssetRequestBody"}}},"description":"Query Parameters must be wrapped in options object (though it can be left empty) ❗️ 👀. OrderBy must be blockNumber, descendantCount or empty.","required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv3.IPAssetsResponse"}}},"description":"OK"}},"security":[{"ApiKeyAuth":[]}],"summary":"List IPAssets","tags":["IPAssets"]}},"/api/v3/assets/edges":{"post":{"description":"Retrieve a paginated, filtered list of IP Edges","parameters":[{"description":"API Key","in":"header","name":"X-Api-Key","required":true,"type":"string"},{"description":"Chain Destination","in":"header","name":"X-Chain","required":true,"type":"string"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.IpAssetEdgeRequestBody"}}},"description":"Query Parameters must be wrapped in options object (though it can be left empty) ❗️ 👀. OrderBy must be blockNumber or empty.","required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.IPAssetEdgeResponse"}}},"description":"OK"}},"security":[{"ApiKeyAuth":[]}],"summary":"List IP Edges","tags":["IPAssets"]}},"/api/v3/assets/{assetId}":{"get":{"description":"Retrieve an IPAsset","parameters":[{"description":"Asset ID","in":"path","name":"assetId","required":true,"type":"string"},{"description":"API Key","in":"header","name":"X-Api-Key","required":true,"type":"string"},{"description":"Chain Destination","in":"header","name":"X-Chain","required":true,"type":"string"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv3.IPAssetResponse"}}},"description":"OK"}},"security":[{"ApiKeyAuth":[]}],"summary":"Get an IPAsset","tags":["IPAssets"]}},"/api/v3/assets/{assetId}/metadata":{"get":{"description":"Retrieve metadata for an IPAsset","parameters":[{"description":"Asset ID","in":"path","name":"assetId","required":true,"type":"string"},{"description":"API Key","in":"header","name":"X-Api-Key","required":true,"type":"string"},{"description":"Chain Destination","in":"header","name":"X-Chain","required":true,"type":"string"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.IpAssetMetadata"}}},"description":"OK"}},"security":[{"ApiKeyAuth":[]}],"summary":"Get metadata for an IPAsset","tags":["IPAssets"]}},"/api/v3/collections":{"post":{"description":"Retrieve a paginated, filtered list of Collections","parameters":[{"description":"API Key","in":"header","name":"X-Api-Key","required":true,"type":"string"},{"description":"Chain Destination","in":"header","name":"X-Chain","required":true,"type":"string"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.CollectionsRequestBody"}}},"description":"Query Parameters must be wrapped in options object (though it can be left empty) ❗️ 👀. OrderBy must be blockNumber, assetCount, licensesCount or empty.","required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.CollectionsResponse"}}},"description":"OK"}},"security":[{"ApiKeyAuth":[]}],"summary":"List Collections","tags":["Collections"]}},"/api/v3/collections/{collectionId}":{"get":{"description":"Retrieve a Collection","parameters":[{"description":"API Key","in":"header","name":"X-Api-Key","required":true,"type":"string"},{"description":"Chain Destination","in":"header","name":"X-Chain","required":true,"type":"string"},{"description":"Collection ID","in":"path","name":"collectionId","required":true,"type":"string"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.CollectionResponse"}}},"description":"OK"}},"security":[{"ApiKeyAuth":[]}],"summary":"Get an Collection","tags":["Collections"]}},"/api/v3/detailed-ip-license-terms":{"post":{"description":"Retrieve detailed IP License Terms associated with list of IP ID","parameters":[{"description":"API Key","in":"header","name":"X-Api-Key","required":true,"type":"string"},{"description":"Chain Destination","in":"header","name":"X-Chain","required":true,"type":"string"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.DetailedIPLicenseTermsRequestBody"}}},"description":"Query Parameters must be wrapped in options object (though it can be left empty) ❗️ 👀. OrderBy must be blockNumber or empty.","required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.DetailedTermsResponse"}}},"description":"OK"}},"security":[{"ApiKeyAuth":[]}],"summary":"List detailed ip license term","tags":["IPLicenseTerms"]}},"/api/v3/disputes":{"post":{"description":"Retrieve a paginated, filtered list of Disputes","parameters":[{"description":"API Key","in":"header","name":"X-Api-Key","required":true,"type":"string"},{"description":"Chain Destination","in":"header","name":"X-Chain","required":true,"type":"string"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.DisputeRequestBody"}}},"description":"Query Parameters must be wrapped in options object (though it can be left empty) ❗️ 👀. OrderBy must be blockNumber or empty.","required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.DisputesResponse"}}},"description":"OK"}},"security":[{"ApiKeyAuth":[]}],"summary":"List Disputes","tags":["Disputes"]}},"/api/v3/disputes/{disputeId}":{"get":{"description":"Retrieve a Dispute","parameters":[{"description":"Dispute ID","in":"path","name":"disputeId","required":true,"type":"string"},{"description":"API Key","in":"header","name":"X-Api-Key","required":true,"type":"string"},{"description":"Chain Destination","in":"header","name":"X-Chain","required":true,"type":"string"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.DisputeResponse"}}},"description":"OK"}},"security":[{"ApiKeyAuth":[]}],"summary":"Get a Dispute","tags":["Disputes"]}},"/api/v3/ip-group-edges":{"post":{"description":"Retrieve an IPGroup edges","parameters":[{"description":"API Key","in":"header","name":"X-Api-Key","required":true,"type":"string"},{"description":"Chain Destination","in":"header","name":"X-Chain","required":true,"type":"string"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.IPGroupEdgesRequestBody"}}},"description":"Query Parameters must be wrapped in options object (though it can be left empty) ❗️ 👀. OrderBy must be blockNumber, groupId or empty.","required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.IPGroupEdgesResponse"}}},"description":"OK"}},"security":[{"ApiKeyAuth":[]}],"summary":"List a IPGroup's edges","tags":["IPGroup"]}},"/api/v3/ip-groups":{"post":{"description":"Retrieve an IPGroup","parameters":[{"description":"API Key","in":"header","name":"X-Api-Key","required":true,"type":"string"},{"description":"Chain Destination","in":"header","name":"X-Chain","required":true,"type":"string"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.IPGroupsRequestBody"}}},"description":"Query Parameters must be wrapped in options object (though it can be left empty) ❗️ 👀. OrderBy must be groupId or empty.","required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.IPGroupsResponse"}}},"description":"OK"}},"security":[{"ApiKeyAuth":[]}],"summary":"List IP groups","tags":["IPGroup"]}},"/api/v3/licenses/ip/terms":{"post":{"description":"Retrieve a paginated, filtered list of IPLicenseTerms","parameters":[{"description":"API Key","in":"header","name":"X-Api-Key","required":true,"type":"string"},{"description":"Chain Destination","in":"header","name":"X-Chain","required":true,"type":"string"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.IPLicenseTermsRequestBody"}}},"description":"Query Parameters must be wrapped in options object (though it can be left empty) ❗️ 👀. OrderBy must be blockNumber or empty.","required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.IPLicenseTermsResponse"}}},"description":"OK"}},"security":[{"ApiKeyAuth":[]}],"summary":"List IPLicenseTerms","tags":["IPLicenseTerms"]}},"/api/v3/licenses/ip/terms/{ipId}":{"get":{"description":"Retrieve IP License Terms associated with an IP ID","parameters":[{"description":"API Key","in":"header","name":"X-Api-Key","required":true,"type":"string"},{"description":"Chain Destination","in":"header","name":"X-Chain","required":true,"type":"string"},{"description":"IP ID","in":"path","name":"ipId","required":true,"type":"string"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.IPLicenseTermsResponse"}}},"description":"OK"}},"security":[{"ApiKeyAuth":[]}],"summary":"Get IP License Terms for an IP","tags":["IPLicenseTerms"]}},"/api/v3/licenses/mintingfees":{"post":{"description":"Retrieve a paginated, filtered list of LicenseMintingFeePaids","parameters":[{"description":"API Key","in":"header","name":"X-Api-Key","required":true,"type":"string"},{"description":"Chain Destination","in":"header","name":"X-Chain","required":true,"type":"string"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.LicenseMintingFeePaidRequestBody"}}},"description":"Query Parameters must be wrapped in options object (though it can be left empty) ❗️ 👀. OrderBy must be blockNumber or empty.","required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicenseMintingFeePaidsResponse"}}},"description":"OK"}},"security":[{"ApiKeyAuth":[]}],"summary":"List LicenseMintingFeePays","tags":["Licenses"]}},"/api/v3/licenses/mintingfees/{licenseMintingFeePaidId}":{"get":{"description":"Retrieve a LicenseMintingFeePay","parameters":[{"description":"API Key","in":"header","name":"X-Api-Key","required":true,"type":"string"},{"description":"Chain Destination","in":"header","name":"X-Chain","required":true,"type":"string"},{"description":"LicenseMintingFeePay ID","in":"path","name":"licenseMintingFeePaidId","required":true,"type":"string"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicenseMintingFeePaidResponse"}}},"description":"OK"}},"security":[{"ApiKeyAuth":[]}],"summary":"Get a LicenseMintingFeePay","tags":["Licenses"]}},"/api/v3/licenses/templates":{"post":{"description":"Retrieve a paginated, filtered list of LicenseTemplates","parameters":[{"description":"API Key","in":"header","name":"X-Api-Key","required":true,"type":"string"},{"description":"Chain Destination","in":"header","name":"X-Chain","required":true,"type":"string"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.LicenseTemplatesRequestBody"}}},"description":"Query Parameters must be wrapped in options object (though it can be left empty) ❗️ 👀. OrderBy must be blockNumber or empty.","required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicenseTemplatesResponse"}}},"description":"OK"}},"security":[{"ApiKeyAuth":[]}],"summary":"List LicenseTemplates","tags":["LicenseTemplates"]}},"/api/v3/licenses/templates/{licenseTemplateId}":{"get":{"description":"Retrieve a LicenseTemplate","parameters":[{"description":"API Key","in":"header","name":"X-Api-Key","required":true,"type":"string"},{"description":"Chain Destination","in":"header","name":"X-Chain","required":true,"type":"string"},{"description":"LicenseTemplate ID","in":"path","name":"licenseTemplateId","required":true,"type":"string"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicenseTemplateResponse"}}},"description":"OK"}},"security":[{"ApiKeyAuth":[]}],"summary":"Get a LicenseTemplate","tags":["LicenseTemplates"]}},"/api/v3/licenses/terms":{"post":{"description":"Retrieve a paginated, filtered list of LicenseTerms","parameters":[{"description":"API Key","in":"header","name":"X-Api-Key","required":true,"type":"string"},{"description":"Chain Destination","in":"header","name":"X-Chain","required":true,"type":"string"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.LicenseTermsRequestBody"}}},"description":"Query Parameters must be wrapped in options object (though it can be left empty) ❗️ 👀. OrderBy must be blockNumber or empty.","required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicenseTermsResponse"}}},"description":"OK"}},"security":[{"ApiKeyAuth":[]}],"summary":"List LicenseTerms","tags":["LicenseTerms"]}},"/api/v3/licenses/terms/default":{"get":{"description":"Retrieve default license term","parameters":[{"description":"API Key","in":"header","name":"X-Api-Key","required":true,"type":"string"},{"description":"Chain Destination","in":"header","name":"X-Chain","required":true,"type":"string"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.DetailedTermsDefaultResponse"}}},"description":"OK"}},"security":[{"ApiKeyAuth":[]}],"summary":"Get default license term","tags":["IPLicenseTerms"]}},"/api/v3/licenses/terms/{licenseTermId}":{"get":{"description":"Retrieve a LicenseTerm","parameters":[{"description":"API Key","in":"header","name":"X-Api-Key","required":true,"type":"string"},{"description":"Chain Destination","in":"header","name":"X-Chain","required":true,"type":"string"},{"description":"LicenseTerm ID","in":"path","name":"licenseTermId","required":true,"type":"string"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicenseTermResponse"}}},"description":"OK"}},"security":[{"ApiKeyAuth":[]}],"summary":"Get a LicenseTerm","tags":["LicenseTerms"]}},"/api/v3/licenses/tokens":{"post":{"description":"Retrieve a paginated, filtered list of LicenseTokens","parameters":[{"description":"API Key","in":"header","name":"X-Api-Key","required":true,"type":"string"},{"description":"Chain Destination","in":"header","name":"X-Chain","required":true,"type":"string"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.LicenseTokenRequestBody"}}},"description":"Query Parameters must be wrapped in options object (though it can be left empty) ❗️ 👀. OrderBy must be blockNumber or empty.","required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicenseTokensResponse"}}},"description":"OK"}},"security":[{"ApiKeyAuth":[]}],"summary":"List LicenseTokens","tags":["LicenseTokens"]}},"/api/v3/licenses/tokens/{licenseTokenId}":{"get":{"description":"Retrieve a LicenseToken","parameters":[{"description":"API Key","in":"header","name":"X-Api-Key","required":true,"type":"string"},{"description":"Chain Destination","in":"header","name":"X-Chain","required":true,"type":"string"},{"description":"License Token ID","in":"path","name":"licenseTokenId","required":true,"type":"string"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicenseTokenResponse"}}},"description":"OK"}},"security":[{"ApiKeyAuth":[]}],"summary":"Get an LicenseToken","tags":["LicenseTokens"]}},"/api/v3/modules":{"post":{"description":"Retrieve a paginated, filtered list of Modules","parameters":[{"description":"API Key","in":"header","name":"X-Api-Key","required":true,"type":"string"},{"description":"Chain Destination","in":"header","name":"X-Chain","required":true,"type":"string"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.ModuleRequestBody"}}},"description":"Query Parameters must be wrapped in options object (though it can be left empty) ❗️ 👀. OrderBy must be blockNumber or empty.","required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.ModulesResponse"}}},"description":"OK"}},"security":[{"ApiKeyAuth":[]}],"summary":"List Modules","tags":["Modules"]}},"/api/v3/modules/{moduleId}":{"get":{"description":"Retrieve a Module","parameters":[{"description":"API Key","in":"header","name":"X-Api-Key","required":true,"type":"string"},{"description":"Chain Destination","in":"header","name":"X-Chain","required":true,"type":"string"},{"description":"Module ID","in":"path","name":"moduleId","required":true,"type":"string"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.ModuleResponse"}}},"description":"OK"}},"security":[{"ApiKeyAuth":[]}],"summary":"Get a Module","tags":["Modules"]}},"/api/v3/permissions":{"post":{"description":"Retrieve a paginated, filtered list of Permissions","parameters":[{"description":"API Key","in":"header","name":"X-Api-Key","required":true,"type":"string"},{"description":"Chain Destination","in":"header","name":"X-Chain","required":true,"type":"string"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.PermissionRequestBody"}}},"description":"Query Parameters must be wrapped in options object (though it can be left empty) ❗️ 👀. OrderBy must be blockNumber or empty.","required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.PermissionsResponse"}}},"description":"OK"}},"security":[{"ApiKeyAuth":[]}],"summary":"List Permissions","tags":["Permissions"]}},"/api/v3/permissions/{permissionId}":{"get":{"description":"Retrieve a Permission","parameters":[{"description":"API Key","in":"header","name":"X-Api-Key","required":true,"type":"string"},{"description":"Chain Destination","in":"header","name":"X-Chain","required":true,"type":"string"},{"description":"Permission ID","in":"path","name":"permissionId","required":true,"type":"string"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.PermissionResponse"}}},"description":"OK"}},"security":[{"ApiKeyAuth":[]}],"summary":"Get a Permission","tags":["Permissions"]}},"/api/v3/royalties/payments":{"post":{"description":"Retrieve a paginated, filtered list of RoyaltyPays","parameters":[{"description":"API Key","in":"header","name":"X-Api-Key","required":true,"type":"string"},{"description":"Chain Destination","in":"header","name":"X-Chain","required":true,"type":"string"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.RoyaltyPayRequestBody"}}},"description":"Query Parameters must be wrapped in options object (though it can be left empty) ❗️ 👀. OrderBy must be blockNumber or empty.","required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.RoyaltyPaysResponse"}}},"description":"OK"}},"security":[{"ApiKeyAuth":[]}],"summary":"List RoyaltyPays","tags":["Royalties"]}},"/api/v3/royalties/payments/{royaltyPayId}":{"get":{"description":"Retrieve a RoyaltyPay","parameters":[{"description":"API Key","in":"header","name":"X-Api-Key","required":true,"type":"string"},{"description":"Chain Destination","in":"header","name":"X-Chain","required":true,"type":"string"},{"description":"RoyaltyPay ID","in":"path","name":"royaltyPayId","required":true,"type":"string"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.RoyaltyPayResponse"}}},"description":"OK"}},"security":[{"ApiKeyAuth":[]}],"summary":"Get a RoyaltyPay","tags":["Royalties"]}},"/api/v3/transactions":{"post":{"description":"Retrieve a paginated, filtered list of Transactions","parameters":[{"description":"API Key","in":"header","name":"X-Api-Key","required":true,"type":"string"},{"description":"Chain Destination","in":"header","name":"X-Chain","required":true,"type":"string"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.TransactionRequestBody"}}},"description":"Query Parameters must be wrapped in options object (though it can be left empty) ❗️ 👀. OrderBy must be blockNumber, resourceType or empty.","required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.TransactionsResponse"}}},"description":"OK"}},"security":[{"ApiKeyAuth":[]}],"summary":"List Transactions","tags":["Transactions"]}},"/api/v3/transactions/latest":{"post":{"description":"Retrieve a paginated, filtered list of Latest Transactions","parameters":[{"description":"API Key","in":"header","name":"X-Api-Key","required":true,"type":"string"},{"description":"Chain Destination","in":"header","name":"X-Chain","required":true,"type":"string"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.TransactionRequestBody"}}},"description":"Query Parameters must be wrapped in options object (though it can be left empty) ❗️ 👀. OrderBy must be blockNumber, resourceType or empty.","required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.TransactionsResponse"}}},"description":"OK"}},"security":[{"ApiKeyAuth":[]}],"summary":"List Latest Transactions","tags":["Transactions"]}},"/api/v3/transactions/{trxId}":{"get":{"description":"Retrieve a Transaction","parameters":[{"description":"Transaction ID","in":"path","name":"trxId","required":true,"type":"string"},{"description":"API Key","in":"header","name":"X-Api-Key","required":true,"type":"string"},{"description":"Chain Destination","in":"header","name":"X-Chain","required":true,"type":"string"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.TransactionResponse"}}},"description":"OK"}},"security":[{"ApiKeyAuth":[]}],"summary":"Get a Transaction","tags":["Transactions"]}},"/api/v4/licenses/mintingfees":{"post":{"description":"Retrieve a paginated, filtered list of LicenseMintingFeePaids","parameters":[{"description":"API Key","in":"header","name":"X-Api-Key","required":true,"type":"string"},{"description":"Chain Destination","in":"header","name":"X-Chain","required":true,"type":"string"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.LicenseMintingFeePaidRequestBody"}}},"description":"Query Parameters must be wrapped in options object (though it can be left empty) ❗️ 👀. OrderBy must be blockNumber or empty.","required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicenseMintingFeePaidsResponse"}}},"description":"OK"}},"security":[{"ApiKeyAuth":[]}],"summary":"List LicenseMintingFeePays","tags":["Licenses"]}},"/api/v4/licenses/mintingfees/{licenseMintingFeePaidId}":{"get":{"description":"Retrieve a LicenseMintingFeePay","parameters":[{"description":"API Key","in":"header","name":"X-Api-Key","required":true,"type":"string"},{"description":"Chain Destination","in":"header","name":"X-Chain","required":true,"type":"string"},{"description":"LicenseMintingFeePay ID","in":"path","name":"licenseMintingFeePaidId","required":true,"type":"string"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicenseMintingFeePaidResponse"}}},"description":"OK"}},"security":[{"ApiKeyAuth":[]}],"summary":"Get a LicenseMintingFeePay","tags":["Licenses"]}}},"components":{"schemas":{"big.Int":{"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.Collection":{"properties":{"assetCount":{"type":"string"},"blockNumber":{"type":"string"},"blockTimestamp":{"type":"string"},"cancelledDisputeCount":{"type":"string"},"id":{"type":"string"},"judgedDisputeCount":{"type":"string"},"licensesCount":{"type":"string"},"raisedDisputeCount":{"type":"string"},"resolvedDisputeCount":{"type":"string"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.CollectionQueryOptions":{"properties":{"orderBy":{"type":"string"},"orderDirection":{"type":"string"},"pagination":{"properties":{"after":{"type":"string"},"before":{"type":"string"},"limit":{"type":"integer"}},"type":"object"},"where":{"properties":{"blockNumberLte":{"type":"string"}},"type":"object"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.CollectionResponse":{"properties":{"data":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.Collection"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.CollectionsRequestBody":{"properties":{"options":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.CollectionQueryOptions"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.CollectionsResponse":{"properties":{"data":{"items":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.Collection"},"type":"array"},"hasNextPage":{"type":"boolean"},"hasPreviousPage":{"type":"boolean"},"next":{"type":"string"},"prev":{"type":"string"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.DetailedIPLicenseTermsQueryOptions":{"properties":{"where":{"properties":{"ipIds":{"items":{"type":"string"},"type":"array"}},"type":"object"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.DetailedIPLicenseTermsRequestBody":{"properties":{"options":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.DetailedIPLicenseTermsQueryOptions"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.Dispute":{"properties":{"arbitrationPolicy":{"type":"string"},"blockNumber":{"$ref":"#/components/schemas/big.Int"},"blockTimestamp":{"$ref":"#/components/schemas/big.Int"},"counterEvidenceHash":{"type":"string"},"currentTag":{"type":"string"},"data":{"type":"string"},"deletedAt":{"$ref":"#/components/schemas/big.Int"},"disputeTimestamp":{"$ref":"#/components/schemas/big.Int"},"evidenceHash":{"type":"string"},"id":{"$ref":"#/components/schemas/big.Int"},"initiator":{"type":"string"},"liveness":{"$ref":"#/components/schemas/big.Int"},"logIndex":{"$ref":"#/components/schemas/big.Int"},"status":{"type":"string"},"targetIpId":{"type":"string"},"targetTag":{"type":"string"},"transactionHash":{"type":"string"},"umaLink":{"type":"string"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.DisputeResponse":{"properties":{"data":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.Dispute"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.DisputesResponse":{"properties":{"data":{"items":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.Dispute"},"type":"array"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.IPAssetEdgeResponse":{"properties":{"data":{"items":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.IpAssetEdge"},"type":"array"},"next":{"type":"string"},"prev":{"type":"string"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.IPLicenseTerm":{"properties":{"blockNumber":{"type":"string"},"blockTime":{"type":"string"},"disabled":{"type":"boolean"},"id":{"type":"string"},"ipId":{"type":"string"},"licenseTemplate":{"type":"string"},"licenseTermsId":{"type":"string"},"licensingConfig":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicensingConfig"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.IPLicenseTermsResponse":{"properties":{"data":{"items":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.IPLicenseTerm"},"type":"array"},"next":{"type":"string"},"prev":{"type":"string"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.IpAssetEdge":{"properties":{"blockNumber":{"type":"string"},"blockTime":{"type":"string"},"ipId":{"type":"string"},"licenseTemplate":{"type":"string"},"licenseTermsId":{"type":"string"},"licenseTokenId":{"type":"string"},"parentIpId":{"type":"string"},"transactionHash":{"type":"string"},"transactionIndex":{"type":"string"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.IpAssetMetadata":{"properties":{"id":{"type":"string"},"metadataHash":{"type":"string"},"metadataJson":{},"metadataUri":{"type":"string"},"nftMetadataHash":{"type":"string"},"nftTokenUri":{"type":"string"},"registrationDate":{"type":"string"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicenseMintingFeePaid":{"properties":{"amount":{"type":"string"},"blockNumber":{"type":"string"},"blockTimestamp":{"type":"string"},"id":{"type":"string"},"payer":{"type":"string"},"receiverIpId":{"type":"string"},"token":{"type":"string"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicenseMintingFeePaidResponse":{"properties":{"data":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicenseMintingFeePaid"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicenseMintingFeePaidsResponse":{"properties":{"data":{"items":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicenseMintingFeePaid"},"type":"array"},"next":{"type":"string"},"prev":{"type":"string"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicenseTemplate":{"properties":{"blockNumber":{"type":"string"},"blockTime":{"type":"string"},"id":{"type":"string"},"metadataUri":{"type":"string"},"name":{"type":"string"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicenseTemplateResponse":{"properties":{"data":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicenseTemplate"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicenseTemplatesResponse":{"properties":{"data":{"items":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicenseTemplate"},"type":"array"},"next":{"type":"string"},"prev":{"type":"string"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicenseTerm":{"properties":{"blockNumber":{"type":"string"},"blockTime":{"type":"string"},"id":{"type":"string"},"licenseTemplate":{"type":"string"},"licenseTerms":{"items":{"additionalProperties":{},"type":"object"},"type":"array"},"terms":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.Term"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicenseTermResponse":{"properties":{"data":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicenseTerm"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicenseTermsResponse":{"properties":{"data":{"items":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicenseTerm"},"type":"array"},"next":{"type":"string"},"prev":{"type":"string"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicenseToken":{"properties":{"blockNumber":{"type":"string"},"blockTime":{"type":"string"},"burntAt":{"type":"string"},"id":{"type":"string"},"licenseTemplate":{"type":"string"},"licenseTermsId":{"type":"string"},"licensorIpId":{"type":"string"},"owner":{"type":"string"},"transferable":{"type":"string"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicenseTokenResponse":{"properties":{"data":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicenseToken"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicenseTokensResponse":{"properties":{"data":{"items":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicenseToken"},"type":"array"},"next":{"type":"string"},"prev":{"type":"string"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicensingConfig":{"properties":{"commercialRevShare":{"type":"integer"},"disabled":{"type":"boolean"},"expectGroupRewardPool":{"type":"string"},"expectMinimumGroupRewardShare":{"type":"integer"},"hookData":{"type":"string"},"isSet":{"type":"boolean"},"licensingHook":{"type":"string"},"mintingFee":{"type":"string"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.Module":{"properties":{"blockNumber":{"type":"string"},"blockTimestamp":{"type":"string"},"deletedAt":{"type":"string"},"id":{"type":"string"},"module":{"type":"string"},"moduleType":{"type":"string"},"moduleTypeInterfaceId":{"type":"string"},"name":{"type":"string"},"transactionHash":{"type":"string"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.ModuleResponse":{"properties":{"data":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.Module"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.ModulesResponse":{"properties":{"data":{"items":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.Module"},"type":"array"},"next":{"type":"string"},"prev":{"type":"string"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.Permission":{"properties":{"blockNumber":{"type":"string"},"blockTimestamp":{"type":"string"},"func":{"type":"string"},"id":{"type":"string"},"permission":{"type":"string"},"signer":{"type":"string"},"to":{"type":"string"},"uuid":{"type":"string"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.PermissionResponse":{"properties":{"data":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.Permission"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.PermissionsResponse":{"properties":{"data":{"items":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.Permission"},"type":"array"},"next":{"type":"string"},"prev":{"type":"string"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.RoyaltyPay":{"properties":{"amount":{"type":"string"},"blockNumber":{"type":"string"},"blockTimestamp":{"type":"string"},"id":{"type":"string"},"payerIpId":{"type":"string"},"receiverIpId":{"type":"string"},"sender":{"type":"string"},"token":{"type":"string"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.RoyaltyPayResponse":{"properties":{"data":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.RoyaltyPay"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.RoyaltyPaysResponse":{"properties":{"data":{"items":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.RoyaltyPay"},"type":"array"},"next":{"type":"string"},"prev":{"type":"string"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.Term":{"properties":{"commercialAttribution":{"type":"boolean"},"commercialRevCeiling":{"$ref":"#/components/schemas/big.Int"},"commercialRevShare":{"$ref":"#/components/schemas/big.Int"},"commercialUse":{"type":"boolean"},"commercializerChecker":{"type":"string"},"commercializerCheckerData":{"type":"string"},"currency":{"type":"string"},"defaultMintingFee":{"type":"integer"},"derivativeRevCeiling":{"$ref":"#/components/schemas/big.Int"},"derivativesAllowed":{"type":"boolean"},"derivativesApproval":{"type":"boolean"},"derivativesAttribution":{"type":"boolean"},"derivativesReciprocal":{"type":"boolean"},"expiration":{"$ref":"#/components/schemas/big.Int"},"royaltyPolicy":{"type":"string"},"transferable":{"type":"boolean"},"uri":{"type":"string"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.Transaction":{"properties":{"actionType":{"type":"string"},"blockNumber":{"type":"string"},"blockTimestamp":{"type":"string"},"createdAt":{"type":"string"},"id":{"type":"string"},"initiator":{"type":"string"},"ipId":{"type":"string"},"logIndex":{"type":"string"},"resourceId":{"type":"string"},"resourceType":{"type":"string"},"transactionIndex":{"type":"string"},"txHash":{"type":"string"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.TransactionResponse":{"properties":{"data":{"items":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.Transaction"},"type":"array"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.TransactionsResponse":{"properties":{"data":{"items":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.Transaction"},"type":"array"},"hasNextPage":{"type":"boolean"},"hasPreviousPage":{"type":"boolean"},"next":{"type":"string"},"prev":{"type":"string"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.DetailedTerms":{"properties":{"disabled":{"type":"boolean"},"id":{"type":"string"},"ipId":{"type":"string"},"licenseTemplate":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicenseTemplate"},"licenseTemplateId":{"type":"string"},"licensingConfig":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.LicensingConfig"},"terms":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv1.Term"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.DetailedTermsDefaultResponse":{"properties":{"data":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.DetailedTerms"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.DetailedTermsResponse":{"properties":{"data":{"items":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.DetailedTerms"},"type":"array"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.DisputeQueryOptions":{"properties":{"orderBy":{"type":"string"},"orderDirection":{"type":"string"},"pagination":{"properties":{"limit":{"type":"integer"}},"type":"object"},"where":{"properties":{"blockNumber":{"type":"string"},"blockNumberLte":{"type":"string"},"id":{"type":"string"},"initiator":{"type":"string"},"targetIpId":{"type":"string"}},"type":"object"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.DisputeRequestBody":{"properties":{"options":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.DisputeQueryOptions"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.IPGroup":{"properties":{"group_id":{"type":"string"},"ip_count":{"type":"integer"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.IPGroupEdge":{"properties":{"block_number":{"type":"string"},"block_time":{"type":"string"},"group_id":{"type":"string"},"ip_id":{"type":"string"},"transaction_hash":{"type":"string"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.IPGroupEdgesQueryOptions":{"properties":{"ipIds":{"items":{"type":"string"},"type":"array"},"orderBy":{"type":"string"},"orderDirection":{"type":"string"},"pagination":{"properties":{"after":{"type":"string"},"before":{"type":"string"},"limit":{"type":"integer"}},"type":"object"},"tokenContractIds":{"items":{"type":"string"},"type":"array"},"tokenIds":{"items":{"type":"string"},"type":"array"},"where":{"properties":{"blockNumber":{"type":"string"},"groupId":{"type":"string"}},"type":"object"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.IPGroupEdgesRequestBody":{"properties":{"options":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.IPGroupEdgesQueryOptions"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.IPGroupEdgesResponse":{"properties":{"data":{"items":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.IPGroupEdge"},"type":"array"},"hasNextPage":{"type":"boolean"},"hasPreviousPage":{"type":"boolean"},"next":{"type":"string"},"prev":{"type":"string"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.IPGroupsQueryOptions":{"properties":{"ipAssetIds":{"items":{"type":"string"},"type":"array"},"orderBy":{"type":"string"},"orderDirection":{"type":"string"},"pagination":{"properties":{"after":{"type":"string"},"before":{"type":"string"},"limit":{"type":"integer"}},"type":"object"},"tokenContractIds":{"items":{"type":"string"},"type":"array"},"tokenIds":{"items":{"type":"string"},"type":"array"},"where":{"properties":{"groupId":{"type":"string"}},"type":"object"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.IPGroupsRequestBody":{"properties":{"options":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.IPGroupsQueryOptions"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.IPGroupsResponse":{"properties":{"data":{"items":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.IPGroup"},"type":"array"},"next":{"type":"string"},"prev":{"type":"string"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.IPLicenseTermsQueryOptions":{"properties":{"orderBy":{"type":"string"},"orderDirection":{"type":"string"},"pagination":{"properties":{"after":{"type":"string"},"before":{"type":"string"},"limit":{"type":"integer"}},"type":"object"},"where":{"properties":{"blockNumber":{"type":"string"},"id":{"type":"string"},"ipId":{"type":"string"}},"type":"object"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.IPLicenseTermsRequestBody":{"properties":{"options":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.IPLicenseTermsQueryOptions"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.IpAssetEdgeQueryOptions":{"properties":{"orderBy":{"type":"string"},"orderDirection":{"type":"string"},"pagination":{"properties":{"after":{"type":"string"},"before":{"type":"string"},"limit":{"type":"integer"}},"type":"object"},"where":{"properties":{"blockNumber":{"type":"string"},"ipId":{"type":"string"},"licenseTermsId":{"type":"string"},"licenseTokenId":{"type":"string"},"parentIpId":{"type":"string"},"transactionHash":{"type":"string"}},"type":"object"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.IpAssetEdgeRequestBody":{"properties":{"options":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.IpAssetEdgeQueryOptions"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.IpAssetQueryOptions":{"properties":{"ipAssetIds":{"items":{"type":"string"},"type":"array"},"orderBy":{"type":"string"},"orderDirection":{"type":"string"},"pagination":{"properties":{"after":{"type":"string"},"before":{"type":"string"},"limit":{"type":"integer"}},"type":"object"},"tokenContractIds":{"items":{"type":"string"},"type":"array"},"tokenIds":{"items":{"type":"string"},"type":"array"},"where":{"properties":{"blockNumber":{"type":"string"},"blockNumberGte":{"type":"string"},"blockNumberLte":{"type":"string"},"id":{"type":"string"},"ipId":{"type":"string"},"tokenContract":{"type":"string"},"tokenId":{"type":"string"}},"type":"object"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.IpAssetRequestBody":{"properties":{"options":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.IpAssetQueryOptions"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.LicenseMintingFeePaidQueryOptions":{"properties":{"orderBy":{"type":"string"},"orderDirection":{"type":"string"},"pagination":{"properties":{"after":{"type":"string"},"before":{"type":"string"},"limit":{"type":"integer"}},"type":"object"},"where":{"properties":{"blockNumber":{"type":"string"},"id":{"type":"string"},"receiverIpId":{"type":"string"}},"type":"object"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.LicenseMintingFeePaidRequestBody":{"properties":{"options":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.LicenseMintingFeePaidQueryOptions"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.LicenseTemplatesQueryOptions":{"properties":{"orderBy":{"type":"string"},"orderDirection":{"type":"string"},"pagination":{"properties":{"after":{"type":"string"},"before":{"type":"string"},"limit":{"type":"integer"}},"type":"object"},"where":{"properties":{"blockNumber":{"type":"string"},"id":{"type":"string"}},"type":"object"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.LicenseTemplatesRequestBody":{"properties":{"options":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.LicenseTemplatesQueryOptions"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.LicenseTermsQueryOptions":{"properties":{"orderBy":{"type":"string"},"orderDirection":{"type":"string"},"pagination":{"properties":{"after":{"type":"string"},"before":{"type":"string"},"limit":{"type":"integer"}},"type":"object"},"where":{"properties":{"blockNumber":{"type":"string"},"id":{"type":"string"}},"type":"object"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.LicenseTermsRequestBody":{"properties":{"options":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.LicenseTermsQueryOptions"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.LicenseTokenQueryOptions":{"properties":{"orderBy":{"type":"string"},"orderDirection":{"type":"string"},"pagination":{"properties":{"after":{"type":"string"},"before":{"type":"string"},"limit":{"type":"integer"}},"type":"object"},"where":{"properties":{"blockNumber":{"type":"string"},"id":{"type":"string"},"licenseTermsId":{"type":"string"},"licensorIpId":{"type":"string"}},"type":"object"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.LicenseTokenRequestBody":{"properties":{"options":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.LicenseTokenQueryOptions"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.ModuleQueryOptions":{"properties":{"orderBy":{"type":"string"},"orderDirection":{"type":"string"},"pagination":{"properties":{"after":{"type":"string"},"before":{"type":"string"},"limit":{"type":"integer"}},"type":"object"},"where":{"properties":{"blockNumber":{"type":"string"},"id":{"type":"string"}},"type":"object"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.ModuleRequestBody":{"properties":{"options":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.ModuleQueryOptions"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.PermissionQueryOptions":{"properties":{"orderBy":{"type":"string"},"orderDirection":{"type":"string"},"pagination":{"properties":{"after":{"type":"string"},"before":{"type":"string"},"limit":{"type":"integer"}},"type":"object"},"where":{"properties":{"blockNumber":{"type":"string"},"id":{"type":"string"},"ipAccount":{"type":"string"},"ipAccountOwner":{"type":"string"},"to":{"type":"string"},"uuid":{"type":"string"}},"type":"object"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.PermissionRequestBody":{"properties":{"options":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.PermissionQueryOptions"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.RoyaltyPayQueryOptions":{"properties":{"orderBy":{"type":"string"},"orderDirection":{"type":"string"},"pagination":{"properties":{"after":{"type":"string"},"before":{"type":"string"},"limit":{"type":"integer"}},"type":"object"},"where":{"properties":{"blockNumber":{"type":"string"},"id":{"type":"string"},"payerIpId":{"type":"string"},"receiverIpId":{"type":"string"}},"type":"object"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.RoyaltyPayRequestBody":{"properties":{"options":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.RoyaltyPayQueryOptions"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.TransactionRequestBody":{"properties":{"options":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.TrxQueryOptions"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv2.TrxQueryOptions":{"properties":{"orderBy":{"enum":["id","blockNumber","ipId","resourceType"],"type":"string"},"orderDirection":{"enum":["asc","desc"],"type":"string"},"pagination":{"properties":{"after":{"type":"string"},"before":{"type":"string"},"limit":{"type":"integer"}},"type":"object"},"where":{"properties":{"blockNumber":{"type":"string"},"id":{"type":"string"},"ipId":{"type":"string"},"resourceType":{"type":"string"},"transactionHash":{"type":"string"}},"type":"object"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv3.IPAsset":{"properties":{"ancestorCount":{"type":"integer"},"blockNumber":{"type":"string"},"blockTimestamp":{"type":"string"},"childrenCount":{"type":"integer"},"descendantCount":{"type":"integer"},"id":{"type":"string"},"ipId":{"type":"string"},"isGroup":{"type":"boolean"},"latestArbitrationPolicy":{"type":"string"},"nftMetadata":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv3.NftMetadata"},"parentCount":{"type":"integer"},"rootCount":{"type":"integer"},"rootIpIds":{"items":{"type":"string"},"type":"array"},"transactionHash":{"type":"string"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv3.IPAssetResponse":{"properties":{"data":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv3.IPAsset"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv3.IPAssetsResponse":{"properties":{"data":{"items":{"$ref":"#/components/schemas/github_com_storyprotocol_protocol-api_api_internal_models_protocolv3.IPAsset"},"type":"array"},"hasNextPage":{"type":"boolean"},"hasPreviousPage":{"type":"boolean"},"next":{"type":"string"},"prev":{"type":"string"}},"type":"object"},"github_com_storyprotocol_protocol-api_api_internal_models_protocolv3.NftMetadata":{"properties":{"chainId":{"type":"string"},"imageUrl":{"type":"string"},"name":{"type":"string"},"tokenContract":{"type":"string"},"tokenId":{"type":"string"},"tokenUri":{"type":"string"}},"type":"object"}},"securitySchemes":{"ApiKeyAuth":{"in":"header","name":"X-Api-Key","type":"apiKey"}}}}